server {
    listen 80;

    server_name {{ chalupas_server_name }};

    access_log  /var/log/nginx/chalupas_access.log;
    error_log  /var/log/nginx/chalupas_error.log;

    location / {
        proxy_pass         http://{{ gunicorn_host }}:{{ gunicorn_port }}/;
        proxy_redirect     off;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
    }
}
